* {
    padding: 0;
    margin: 0;
}

#logo9 {
    padding: 10px 0px 0px 10px;
}

#logo9 h1 {
    color: #6e6e6e;
    font: bold 25px verdana;
    margin-right: 93%;
    min-width: 90px;
    margin-top: -5px;
    z-index: 99999999;
}

#vector {
    width: 100%;
    height: 56px;
    background: #F0F0F0;
    box-shadow: 1px 1px 5px #000;
    -webkit-box-shadow: 1px 1px 5px #000;
    -moz-box-shadow: 1px 1px 5px #000;
    -o-box-shadow: 1px 1px 5px #000;
    z-index: 1001;
    position: fixed;
    margin-top: 0px;
}

#abrir_menu {
    display: none;
    float: right;
    color: #6e6e6e;
    font-size: 40px;
    margin-top: -40px;
    padding-right: 20px;
    cursor: pointer;
    z-index: 999999;
}

#menu {
    width: 430px;
    margin: -95px auto;
    margin-top: -52.5px;
    /*error*/
    margin-right: 0%;
    margin-right: 0px;
    z-index: 1003;
}

#menu ul a {
    text-decoration: none;
    color: #6e6e6e;
    font: 38px verdana;
    padding: 11px;
    transition: background .6s, color .6s;
    -webkit-transition: background .6s, color .6s;
    -moz-transition: background .6s, color .6s;
    -o-transition: background .6s, color .6s;
    z-index: 1004;
}

#menu ul a:hover {
    background: #6e6e6e;
    color: #f2f2f2;
}

#menu div {
    display: none;
    height: 55px;
}

#cerrar_menu {
    float: right;
    color: #6e6e6e;
    font-size: 35px;
    padding: 10px;
    cursor: pointer;
    opacity: .6;
}

#cerrar_menu:hover {
    opacity: 1;
}
