@media screen and (max-width: 800px){
		#abrir_menu{
			display: block;
			z-index: 999999999999;


		}

		#menu{
			position: fixed;
			width: 100px;
			height: 100%;
			margin-top:0;
			top:0;
			background: #F0F0F0;
			box-shadow: 1px 1px 5px #000;
			-webkit-box-shadow: 1px 1px 5px #000;
			-o-box-shadow: 1px 1px 5px #000;
			-moz-box-shadow:1px 1px 5px #000;
			right: -100%;
			z-index: 9999999999;



		}

		#menu ul a{
			display:block;
		margin-left: 0px;
		text-align: center;
		z-index: 9999999999;
		}

		#menu div{
			display: block;
			z-index: 999999999;

		}
}
